In [2]:
import pandas as pd

file = pd.read_csv('./data/tweets_clean.csv', index_col= 0)
file.head()

,fav,rt_count,date,id,year,month,day,hour,day_week,day_name
0,15,6,2023-03-04 08:51:15+00:00,1631940354109845504,2023,3,4,8,5,Saturday
1,2,0,2023-03-04 08:47:53+00:00,1631939507955146754,2023,3,4,8,5,Saturday
2,0,0,2023-03-03 20:31:24+00:00,1631754165897633796,2023,3,3,20,4,Friday
3,5,0,2023-03-03 19:06:07+00:00,1631732703430148129,2023,3,3,19,4,Friday
4,3,0,2023-03-03 19:04:57+00:00,1631732409199722497,2023,3,3,19,4,Friday